/* You can add global styles to this file, and also import other style files */
@import "normalize"; 

@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 700;
  src: local('Segoe UI Bold'), local('SegoeUI-bold'), local('segoeuib');
}
@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 600;
  src: local('Segoe UI Semibold'), local('SegoeUI-Semibold');
}
@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 400;
  src: local('Segoe UI'), local('SegoeUI');
}
@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 300;
  src: local('Segoe UI Light'), local('SegoeUI-Light');
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.sub-header-action-container a:hover{
    text-decoration: none;
}

.rating-n-star-container .col-3{
    text-align: center;
}

.rating-n-star-container .col-3 h4{
    font-size: 42px;
}


.modal-content{
    padding-bottom: 10px;
}


.modal-footer .star-rating-container{
    float: right;
}


.review-rating .star-rating-container{
    float: left;
}

.about-reviewer-block {
    padding-left: 10px;
}

.about-reviewer-block span {
    display: block;
    clear: both;
}

.books-gird+div>.each-row.book-info{
    border: none;
}

.cart-div a:hover{
    text-decoration: none;
}

.top-custoer-reviews{
    padding: 0 10px;
}

.top-custoer-reviews h3{
    font-size: 20px;
    font-weight: 200;
    color: #333333;
    margin: 0;
    padding: 0 0 20px 0;
}
.clearfix{
    clear:inherit;
}
.float-left{
    float:left;
}

.float-right{
    float:right;
}


.top-custoer-reviews .review-block .user-description{
    padding: 0 0 40px;
    margin: 0;
}


/* Added for Modal */
.modal-header,
.modal-footer, .m-header,.m-footer{
    border: none;
}
.modal-header .close, .m-header .close{
    position: relative;
    color: #D2D2D2;
    font-weight: 400;
    font-size: 35px;
    background-color: transparent;
    border:0px;
}

.modal-header .modal-title, .m-header .modal-title {
    color: #FF5700;
    font-size: 32px;
    font-weight: 300;
    line-height: normal;
}
.modal-header .title, .m-header .title {
    color: #FF5700;
    font-size: 32px;
    font-weight: 300;
    line-height: normal;
    width: 98%;
}

.modal-footer h3, .m-footer h3{
    margin: 0;
    padding: 15px 0 20px 0;
    border-top:1px solid #D2D2D2;
    font-size: 20px;
    font-weight: 200;
    color: #333333;
}
.modal-content .link, .m-content .link{
    color: #3333FF;
    font-size: 14px;
}


/* rating container */
/* .rating-n-star-container .col-9 > table > tbody > tr > td{
    padding-bottom: 10px;
} */
.progress-bar {
    border:1px solid #D2D2D2!important;
}
.progress-bar-container table tr td{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.progress-bar-container table tr td:nth-last-child(2){
    color:#333333;
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
}

.progress-bar-container table tr td:nth-last-child(1){
    color:#3300FF;
    font-size: 24px;
    font-weight: 300;
    width:88px;
    text-align: right;
}

.customer-rating-container{
    position: absolute;
    right: 0;
}

.customer-rating-container span{
    float: right;
    font-weight: 500;
}

.select-rating{
    border:1px solid #D2D2D2;
    padding: 8px 12px;
    color: #797979;
}


/* books-details popup */
.customer-review-modal.books-details .modal-header{
    padding: 0;
}
.customer-review-modal.books-details .modal-body,
.customer-review-modal.books-details .book-details-container .cover-image,
.customer-review-modal.books-details .book-details-container .book-details{
    padding-top: 0!important;
}

.customer-review-modal.books-details .star-rating-container{
    display: block!important;
    margin: 0 auto;
}
.customer-review-modal.books-details .ratings label{
    color: #3300FF;
}

.customer-review-modal.books-details .top-custoer-reviews{
    padding-bottom: 0;
}
.customer-review-modal.books-details .rating-n-review{
    padding-top:5px;
}
.book-description-container{
    font-weight: 300;
    margin: 0;
    font-size: 14px;
}
.book-description-container p{
    margin: 0;
    display: inline;
}


/* top customer review modal */
.customer-review-modal .top-custoer-reviews{
    padding-bottom:0; 
    margin-bottom: -40px;
}


/* books details */
.book-details-container .rating-n-review {
    padding-top: 5px;
}
.book-details-container .rating-n-review .star-rating-container{
    float: left;
}

.customer-review-modal .star-rating-container{
    display: block!important;
    margin: 0 auto;
}



/* button */
.btn-comment{
    background: none;
    cursor: pointer;
    padding: 10px 15px!important;
    border-radius: 25px!important;
    font-size: 14px;
}


.books-gird+div>.each-row.book-info+.top-custoer-reviews h3{ 
    font-weight: 700;
}