ul,ol {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li,
ol li {
    margin: 0;
    padding: 0;
}
    .sort-container {
        font-size: 14px;
        position: absolute;
        outline: 1px solid #797979;
        right: 11px;
        top: 30px;
        width: 200px;
        background: #ffffff;
        padding: 10px;
        z-index: 99;
    }

    .sort-container h4 {
        font-size: 16px;
    }

    .sort-container ul li {
        margin: 0;
        padding: 10px 0 0 0;
    }

    .sort-container ul li input {
        margin-right: 5px;
        border: 1px solid #c7c7c7;
        border-radius: 10px;
    }

    .sort-container ul li label{
        cursor: pointer;
    }
    .sort-container .action-itmes {
        text-align: right;
    }

    .sort-container .action-itmes input {
        border: 1px solid #c7c7c7;
        border-radius: 10px;
        padding: 5px 10px;
        outline: none;
    }



.sub-header-action-item{
    margin-left: 10px; 
}